@font-face {
    font-family: Hammersmith-One;
    src: url(assets/fonts/HammersmithOne-Regular.ttf);
}

.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background: linear-gradient(0deg, rgba(93, 224, 230, 0.25) 0%, rgba(93, 224, 230, 0.25) 100%), linear-gradient(180deg, #004AAD 0%, rgba(93, 224, 230, 0.82) 50%, rgba(0, 74, 173, 0.00) 100%);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
}

.logo-mindplus {
    width: 50%;
    margin: 30px;
}

.formLogin {
    display: flex;
    flex-direction: column;
    border-radius: 7px;
    padding: 40px;
    box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.4);
    gap: 5px;
    background-color: rgba(163, 228, 233, 0.51);
}

.formLogin p {
    display: inline-block;
    font-size: 14px;
    color: #666;
    margin-bottom: 25px;
}

.formLogin input {
    width: 100%;
    height: 43px;
    margin-bottom: 20px;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: all linear 160ms;
    outline: none;
}

.formLogin input:focus {
    border: 1px solid rgb(0, 74, 173);
}

.formLogin a {
    display: inline-block;
    margin-bottom: 20px;
    font-size: 13px;
    color: #555;
    transition: all linear 160ms;
}

.formLogin a:hover {
    color: #f72585;
}

#btn-login {
    height: 40px;
    background-color: rgba(0, 74, 173, 0.80);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 5px;
    padding-top: 8px;
    font-family: Hammersmith-One;
    color: rgba(255, 255, 255, 0.80);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
}

#keep-logged-in {
    font-family: Hammersmith-One;
    color: rgba(0, 0, 0, 0.70);
    align-items: center;
    text-align: center;
    cursor: pointer;
}

#keep-logged-in input {
    width: 15px;
    margin-bottom: 1px;
    margin-right: 10px;
    cursor: pointer;
}

/* - O - O - O - ADMIN HEADER - O - O - O - */

.adm-header {
    background-color: #004AADCC;
}

.adm-header img {
    height: auto;
    width: 130px;
    margin-bottom: -56px;
}

.btn-menu {
    display: inline-block;
    padding: 50px 16px;
    margin-top: -20px;
    margin-bottom: -15px;
    background-color: #276bc4cc;
    color: #ffffff;
    transition: background-color 0.3s ease;

}

.btn-menu:hover {
    background-color: #04306861;
}

/* - - - LD PAGE - - - */



/* - - - BUSINESS - - - */

#bsn-btn {
    background-color: #04306861;
    padding: 15px 0px;
    margin-top: -20px;
    margin-bottom: -15px;
}


/* - - - EMPLOYEES - - - */


/* header btn e intro */

#emp-btn {
    background-color: #04306861;
    padding: 15px 0px;
    margin-top: -20px;
    margin-bottom: -15px;
}

.intro {
    background-color: #c2eff1;
    padding-top: 2%;
    padding-left: 4%;
    padding-bottom: 2%;
    margin-top: 3.5%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


/* cards */

.cards {
    display: flex;
    justify-content: space-around;
    margin-top: 3%;
    margin-left: 2%;
    margin-right: 2%;

}

.card {
    position: relative;
    width: 550px; /* Largura total do card */
    height: 150px;
    background-color: #cbebeb;
    text-align: center;
    padding: 20px;
    padding-top: 3.5%;  /* talvez aqui seja util para aumentar o tamanho mais tarde */
    padding-bottom: 15%;  /* Define tamanho do card inf/sup na parte de baixo */
    margin: 10px;
    overflow: hidden;
    transition: top 0.3s ease;
    border-bottom-left-radius: 5dvh;
    border-top-right-radius: 5dvh;
    font-size: 22px; 
    box-shadow: 5px 4px 4px rgba(59, 59, 91, 0.492);
}

.card:hover { /* Hover do card em si */
    height: 300px; /* Tamanho/altura da transição do card inferior */
    transition: 0.45s;
}

.description {
    position: absolute;
    top: 97%;  /* Ajuste do topo do bloco de descrição, nessa % permite aparecer a bordinha inferior do card */
    bottom: 0%;
    left: 0;
    width: 100%;
    padding: 15px;
    transition: top 0.3s ease;
    background-color: #276bc4cc;
    color: white;
    font-size: medium;

}

.card:hover .description { /* Hover da descrição */
    top: 40%;
    /* Ajuste para mostrar a descrição abaixo do card */
}

.card i { /* Ícone */
    font-size: 80px;
    padding-top: 54px;
    color: #276bc4cc;
}

.card:hover i {   /* Hover do ícone */
    padding-top: 17%;
    font-size: 115px;
    transition: 0.2s linear;
}


/* - - - EVENTS - - - */

#evn-btn {
    background-color: #04306861;
    padding: 15px 0px;
    margin-top: -20px;
    margin-bottom: -15px;
}