@font-face {
  font-family: Hammersmith-One;
  src: url(../../assets/fonts/HammersmithOne-Regular.ttf);
}

.container {
  display: flex;
  justify-content: center;
  position: relative;
}

.container video {
  width: 205vh;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.center-column {
  display: flex;
  width: 1000px;
  margin-top: 80px;
  position: absolute;
  border-radius: 10px;
  z-index: 2;
  background-color: rgba(203, 224, 242, 0.932);
}

.menu {
  width: 950px;
  padding: 20px;
}

.button-card {
  height: 30px;
  width: 20%;
  cursor: pointer;
  margin-bottom: 10px;
  font-family: Hammersmith-One;
  font-size: 16px;
  border-color: transparent;
  filter: drop-shadow(2px 2px 0px rgba(0, 0, 0, 0.25));
  color: rgb(65, 61, 61);
}

.menu img {
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.4);
  width: 405px;
  height: 200px;
  margin-top: 50px;
  border-radius: 10px;
}

.card {
  cursor: pointer;
  display: flex;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: rgba(2, 2, 21, 0.541);
}

.card1 {
  margin-left: 10px;
  padding-left: 10px;
}

.card2 {
  margin-left: 70px;
}

.card1 h1 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}

.card2 h1 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}

.card1 h2 {
  font-size: 19px;
}

.card2 h2 {
  font-size: 19px;
}

.menu h1 {
  margin-top: 10px;
  cursor: pointer;
}

.menu video {
  display: flex;
  align-items: center;
  justify-content: center;
  place-content: center;
}

@media (max-width: 430px) {
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .container video {
    display: none;
  }

  .center-column {
    width: 100%;
    border-radius: 10px;
    z-index: 2;
    background-color:#f0f8ff;
  }

  .menu {
    margin-top: 200px;
    max-width: 430px;
  }

  .button-card {
    height: 15px;
    width: 20%;
    cursor: pointer;
    margin-bottom: 10px;
    font-family: Hammersmith-One;
    font-size: 10px;
    margin-bottom: 50px;
    border-color: transparent;
    filter: drop-shadow(2px 2px 0px rgba(0, 0, 0, 0.25));
    color: rgb(65, 61, 61);
  }

  .card {
    display: inline;
    align-items: center;
    justify-content: center;
    place-content: center;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
      sans-serif;
    cursor: pointer;
    color: rgba(38, 38, 112, 0.805);
  }

  .card1,
  .card2 {
    max-width: 100%;
    margin: 10px;
  }

  .card1 img,
  .card2 img {
    width: 100%;
    height: auto;
    border-radius: 2px;
  }

  .card1 h1,
  .card1 h2,
  .card2 h1,
  .card2 h2 {
    text-align: start;
  }

  .menu video {
    align-items: center;
    justify-content: center;
    place-content: center;
  }

  .menu iframe {
    padding-left: 22px;
    width: 38vh;
    height: auto;
  }
}