
.my-header {
  height: 100px;
  width: 100%;
  display: flex;
  background-color: rgb(77, 77, 220);
  font-family: Hammersmith-One;
}

.logo {
  display: flex;
  align-items: center;
  margin-left: 30px;
  color: white;
  cursor: pointer;
}

.logo img {
  width: 50px;
  height: 50px;
}

.header-items {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  place-content: center;
  color: white;
}

.header-items li {
  width: 100%;
  padding: 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-left: 10%;
}

.header-items img {
  margin-right: 10px;
  width: 17px;
}

.user-icon {
  margin-right: 30px;
  display: flex;
  align-items: center;
}

.user-icon img {
  width: 40px;
  height: 40px;
}


/* 
@media (min-width: 764px) {
  .header-user-button {
    margin-left: 300px !important;
  }

  .header-logo {
    width: 200px;
    padding-left: 30px;
  }
}

@media (max-width: 809px) {
  .header-user-button {
    margin-left: 100px !important;
  }

  .header-logo {
    width: 100px;
    padding-left: 10px;
  }
 }

@media (max-width: 500px) {
    .header-user-button {
      margin-left: 10px !important;
    }
  
    .header-logo {
      width: 100px;
      padding-left: 10px;
    }
  
    .logo-text {
      display: none;
    }
  }
   */