@font-face {
    font-family: Hammersmith-One;
    src: url(../../assets/fonts/HammersmithOne-Regular.ttf);
}

@media (max-width: 3000px) {
    .my-header {
        height: 100px;
        width: 100%;
        display: flex;
        background-color: #004AAD;
        font-family: Hammersmith-One;
        /* position: fixed; */
        top: 0;
    }

    .logo {
        display: flex;
        align-items: center;
        margin-left: 30px;
        color: white;
        cursor: pointer;
    }

    .logo img {
        width: 80px;
    }

    .header-items {
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
        display: flex;
        place-content: center;
        color: white;
    }

    .header-items li {
        width: 100%;
        padding: 10px;
        display: flex;
        align-items: center;
        cursor: pointer;
        margin-left: 10%;
        font-family: Hammersmith-One;
    }

    .header-items img {
        margin-right: 10px;
        width: 17px;
    }

    .user-icon {
        margin-right: 30px;
        display: flex;
        align-items: center;
    }

    .user-icon img {
        width: 50px;
    }

    .menu-lateral-options,
    #btn-close-menu-lateral,
    .menu-list {
        visibility: hidden;
    }
}

@media (max-width: 430px) {

    body {
        z-index: -10 !important;
    }

    .header-items {
        visibility: hidden;
    }

    .menu-list,
    #open-menu-lateral {
        font-size: 30px;
        margin-top: 30px;
        margin-left: 40px;
        position: absolute;
        visibility: visible;
        transform: rotate(90deg);
        color: white;
        cursor: pointer;
        font-weight: bold;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    .logo {
        visibility: hidden;
    }

    .menu-lateral-ativo {
        display: block !important;
        z-index: 10 !important;
    }

    .menu-lateral-options,
    #btn-close-menu-lateral {
        visibility: visible;
    }

    #menu-lateral {
        position: fixed;
        text-align: right;
        width: 250px;
        height: 100%;
        padding-top: 100px;
        z-index: 10 !important;
        background-color: rgba(8, 65, 139);
        display: none;
        font-family: Hammersmith-One;
        transition: transform 1s ease;
    }

    #menu-lateral ul li {
        padding: 30px;
        margin-bottom: 20px;
        text-align: center;
    }

    #menu-lateral ul li:hover {
        padding: 30px;
        text-align: center;
        background-color: rgb(56, 107, 248);
        transition: 0.5s;
        cursor: pointer;
    }

    #menu-lateral ul li a {
        text-decoration: none;
        color: white;
        display: block;
        transition: 0.3s;
    }

    .user-icon {
        margin-right: 30px;
        display: flex;
        align-items: center;
    }

    .user-icon img {
        width: 100%;
    }

    #btn-close-menu-lateral {
        color: white;
        font-family: Hammersmith-One;
        padding: 30px;
        margin-top: 100px;
        width: 100%;
        cursor: pointer;
        position: absolute;
        text-align: right;
    }

    #btn-close-menu-lateral:hover {
        color: white;
        font-family: Hammersmith-One;
        padding: 30px;
        margin-top: 100px;
        width: 100%;
        cursor: pointer;
        position: absolute;
        background-color: rgb(56, 107, 248);
        transition: 1s;
    }

    #close-menu-lateral img {
        width: 100px;
    }
}
