@font-face {
  font-family: Hammersmith-One;
  src: url(../assets/fonts/HammersmithOne-Regular.ttf);
}

.fundo-banner {
  background-image: url('../assets/images/sky.jfif');
  width: 100vw;
  height: 60vh;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Hammersmith-One;
}

.banner {
  width: 70%;
  margin: 70px auto;
  height: 350px;
  background-color: #004AAD;
  z-index: 1;
  color: white;
  font-size: 30px;
  text-align: center;
  padding: 100px;
}

.banner img {
  width: 20px;
  z-index: 1;
  display: flex;
}

.card {
  border-color: #004AAD;
  border-radius: 10px;
}

.card h1 {
  min-height: 50px;
  margin-top: 25px;
  margin-bottom: 20px;
}

.text-card {
  min-height: 300px;
  font-size: 20px;
  margin-bottom: 20px;
}

.button-card {
  height: 40px;
  width: 80%;
  margin-bottom: 20px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 5px;
  color: white;
  font-family: Hammersmith-One;
  font-size: 16px;
  place-content: center;
}

.button-card:hover {
  height: 40px;
  width: 80%;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 5px;
  color: white;
  font-family: Hammersmith-One;
  font-size: 16px;
  place-content: center;
  background-color: #3372c4;
  transition: 0.5s;
}

@media (max-width: 768px) {

  .fundo-banner,
  .banner {
    visibility: hidden;
    max-height: 0;
  }

  .button-card {
    height: 60px;
    width: 80%;
    margin-bottom: 20px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 5px;
    color: white;
    font-family: Hammersmith-One;
    font-size: 16px;
    place-content: center;
  }

  .button-card:hover {
    height: 60px;
    width: 80%;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 5px;
    color: white;
    font-family: Hammersmith-One;
    font-size: 16px;
    place-content: center;
    background-color: #3372c4;
    transition: 0.5s;
  }

  .card h1 {
    min-height: 65px;
    margin-top: 25px;
    margin-bottom: 20px;
  }

  .text-card {
    min-height: 370px;
    font-size: 20px;
    margin-bottom: 20px;
  }
}
