@media (max-width: 2560px) {
  .my-header {
    height: 100px;
    width: 100%;
    display: flex;
    background-color: rgb(77, 77, 220);
    font-family: Hammersmith-One;
  }

  .logo {
    display: flex;
    align-items: center;
    margin-left: 30px;
    color: white;
    cursor: pointer;
  }

  .logo img {
    width: 80px;
  }

  .header-items {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    place-content: center;
    color: white;
  }

  .header-items li {
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-left: 10%;
    font-family: Hammersmith-One;
  }

  .header-items img {
    margin-right: 10px;
    width: 17px;
  }

  .user-icon {
    margin-right: 30px;
    display: flex;
    align-items: center;
  }

  .user-icon img {
    width: 50px;
  }

  .menu-lateral-options,
  #btn-close-menu-lateral,
  .menu-list {
    visibility: hidden;
  }
  
 .frase {
    background-image: url('img/sky.jfif');
    width: 100vw;
    height: 60vh;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
 }

 .quadrado {
    width: 700px;
    height: 350px;
    background-color: #004AAD;
    z-index: 2;
    color: white;
    font-size: 1.50rem; 
    line-height: 1.79rem; 
    text-align: center;
    padding: 100px;
 }

 .quadrado img {
    width: 20px;
    z-index: 3;
    display: flex;
 }

 .card {
    border-color: #004AAD;
    border-radius: 4px;    
 }

}

@media (max-width: 768px) {
  body {
    width: auto;
  }

  .header-items,
  .user-icon {
    width: auto;
    visibility: hidden;
  }

  .menu-list,
  #open-menu-lateral {
    font-size: 30px;
    margin-top: 35px;
    margin-left: 80%;
    position: absolute;
    visibility: visible;
    transform: rotate(90deg);
    color: white;
    cursor: pointer;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  .menu-lateral-ativo {
    display: block !important;
  }

  .menu-lateral-options,
  #btn-close-menu-lateral {
    visibility: visible;
  }

  #menu-lateral {
    position: fixed;
    text-align: right;
    width: 250px;
    height: 100%;
    padding-top: 100px;
    z-index: 2;
    background-color: rgb(55, 55, 179);
    display: none;
    transition: 1s;
    font-family: Hammersmith-One;
  }

  #menu-lateral ul li {
    padding: 30px;
    margin-bottom: 20px;
    text-align: center;
  }

  #menu-lateral ul li:hover {
    padding: 30px;
    text-align: center;
    background-color: rgb(56, 107, 248);
    transition: 1s;
    cursor: pointer;
  }

  #menu-lateral ul li a {
    text-decoration: none;
    color: white;
    display: block;
    transition: 0.3s;
  }

  #btn-close-menu-lateral {
    color: white;
    font-family: Hammersmith-One;
    padding: 30px;
    margin-top: 200px;
    width: 190px;
    cursor: pointer;
    position: absolute;
  }

  #btn-close-menu-lateral:hover {
    color: white;
    font-family: Hammersmith-One;
    margin-top: 200px;
    padding: 30px;
    width: 190px;
    cursor: pointer;
    position: absolute;
    background-color: rgb(56, 107, 248);
    transition: 1s;
  }
}